/* merch.css */

header.navbar a {
   color: white;
   text-decoration: none;
   font-size: 1.5em;
}
.title {
   color: #fff; /* Set the color to white */
   text-decoration: none; /* Remove underline */ 
}

.merch-header {
   font-size: 2em;
   text-align: center;
   margin-bottom: 20px;
}

.merch-bar {
   list-style-type: none;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }

 .grid_4 {
   flex: 1 0 24%;
   margin: 10px;
   text-align: center;
 }

.merch-bar ol {
   margin: 0 20px;
}

.merch-bar ol a {
   text-decoration: none;
   color: #333;
   color: white;
}

.merch-section {
   display: flex; /* Use flexbox for layout */
   justify-content: space-around; /* Center items horizontally */
   margin-bottom: 20px; /* Add some space between sections */
}

.merch-bar li {
   margin: 0 10px; /* Add some space between items */
}
.merch-items {
font-size: 2em;

}
ul.merch-bar a{
   font-size: 1em;
   color: white;
}
/* LIST OF MERCH */

.small-image {
   max-width: 150px; /* Increase the max width */
   max-height: 150px; /* Increase the max height */
   display: block; /* Center the image */
   margin: 0 auto; /* Center the image */
}
.merch-bar .small-image {
   max-width: none;
 }

 /* Keep your existing CSS rules */

.merch-bar {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }
 
 .grid_4 {
   flex: 1 0 150px; /* Adjust the width as needed */
   margin: 10px;
   text-align: center;
 }
 
 .small-image {
   max-width: 100%; /* Adjust max-width for responsiveness */
   max-height: 150px;
   display: block;
   margin: 0 auto;
 }
 
 .item-type {
   font-size: 1em;
   color: white;
   display: block;
   text-align: center;
   margin-top: 5px;
   font-weight: bold;
   text-decoration: none !important;
   display: inline-block; /* Display in a row */
 }
 
 .title {
   font-size:2em;
   font-weight: bold;
   display: inline-block; /* Display in a row */
  
 }
 
.item-type {
   font-size: 1em;
   color: white;
   display: block;
   text-align: center;
   margin-top: 5px;
   font-weight: bold;
   text-decoration: none !important; /* Add !important to make it override other styles */
}



 .grid_4 {
   flex: 1 0 24%; /* This controls the flex properties */
   margin: 10px;
   text-align: center;
   max-width: 250px; /* Adjust this value to limit the width */
   margin: 0 auto; /* Center the element within its container */
   cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
}
