

.logo img {
   width: 100%; /* Make the logo responsive */
   max-width: 400px; /* Limit the maximum width */
   height: auto; /* Maintain aspect ratio */
   margin-top: 5em;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}

.content {
   padding: 30px 0; /* Adjust padding for mobile */
   text-align: center;
   min-height: 100vh;
}

.home-message p {
   font-size: 1.5em; /* Adjust font size for mobile */
   line-height: 1.6;
   margin-bottom: 15px; /* Adjust margin for mobile */
   color: rgb(255, 255, 255);
   max-width: 100%; /* Make sure it doesn't exceed container */
   font-style: italic; 
   font-weight: bold;
}

