main {
min-height: 100vh;
}

.about-me-image img {
   border: .3em solid white;
   border-radius: 0.625em;
   width: 30em;
   height: 30em;
   background-color: white;
   mix-blend-mode: multiply;
   margin-left: 10em;
   margin-top: 4em;
}

.about-content {
   flex: 1;
   max-width: 40%;
   margin-left: 15em;
   text-align: center;
   font-size: 1em;
   margin-top: 4em !important;
   margin-left: 6em !important;
}

.about-section {
   display: flex;
}

p {
   font-size: 1.5em;
}